$bp-medium: 1000px;
$bp-small: 600px;

$font: "SuisseIntl", sans-serif;
$font-light: "SuisseIntl-Light", sans-serif;
$font-medium: "SuisseIntl-SemiBold", sans-serif;

$color-accent: #3db565;
$color-black: #262626;
$color-error: #B5413E;

$trans-prop: 0.25s ease;
